#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  min-width: 150px;
  min-height: 60px;
  border-radius: 8px;
  box-shadow: 0 0 15px #ccc;
  color: #fff;
  padding: 8px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: .3s;
  font-size: 14px;

  p {
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
  }

  &.primary {
    background-color: rgb(179, 212, 254);
  }

  &.warning {
    background-color: rgb(255, 204, 109);
  }

  &.error {
    background-color: rgb(255, 120, 120);
  }

  &.success {
    background-color: rgb(153, 220, 153);
  }
}