@font-face {
  font-family: "iconfont"; /* Project id 3828459 */
  src: url('iconfont.woff2?t=1676350626103') format('woff2'),
       url('iconfont.woff?t=1676350626103') format('woff'),
       url('iconfont.ttf?t=1676350626103') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingchu:before {
  content: "\e621";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-zhangdan:before {
  content: "\e69c";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-jia:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-fanhui1:before {
  content: "\e64e";
}

